<div class="container">  
  <h1>Add a Feature Request</h1>  
  <form #featureRequestForm="ngForm" (ngSubmit)="onSubmit()">  
    <div class="form-group">  
      <label for="title">Title</label>  
      <input type="text" class="form-control" name = "title" id="title" [(ngModel)]="featureRequestData.title" required>  
    </div>  
    <div class="form-group">  
      <label for="description">Description</label>  
      <input type="text" class="form-control" id="description" name="description" [(ngModel)]="featureRequestData.description" required>  
    </div> 
    <div class="form-group">  
      <label for="client">Client</label>  
      <select class="form-control" [(ngModel)]="featureRequestData.client" id="client" required>  
        <option [value]="1">Client A</option>  
        <option [value]="2">Client B</option>  
        <option [value]="3">Client C</option> 
      </select> 
    </div> 
    <div class="form-group">  
      <label for="clientPriority">Client Priority</label>  
      <input type="number" class="form-control" id="clientPriority" name="clientPriority" [(ngModel)]="featureRequestData.clientPriority" required>  
    </div> 
     <div class="form-group">  
      <label for="targetDate">Target Date</label>  
      <input type="date" class="form-control" id="targetDate" name="targetDate" [(ngModel)]="featureRequestData.targetDate" required>  
    </div>
    <div class="form-group">  
      <label for="productArea">Product Area</label>  
      <select class="form-control" [(ngModel)]="featureRequestData.productArea" id="productArea" required>  
        <option [value]="1">Policies</option>  
        <option [value]="2">Billing</option>  
        <option [value]="3">Claims</option>
        <option [value]="4">Reports</option>  
      </select>  
    </div>
    <button type="submit" style="text-align: center;"class="btn btn-success" [disabled] = "!featureRequestForm.form.valid">Submit</button>  
  </form>  
</div>  

<div class="container">
  <h2>Feature Requests</h2>         
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Client</th>
        <th>ClientPriority</th>
        <th>Target Date</th>
        <th>Product Area</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let featurerequest of featureReqeusts">
        <td>{{featurerequest.title}}</td>
        <td>{{featurerequest.description}}</td>
        <td *ngIf="featurerequest.client == '1'">Client A</td>
        <td *ngIf="featurerequest.client == '2'">Client B</td>
        <td *ngIf="featurerequest.client == '3'">Client C</td>
        <td>{{featurerequest.clientPriority}}</td>
        <td>{{featurerequest.targetDate | date: 'dd/MM/yyyy'}}</td>
        <td *ngIf="featurerequest.productArea == '1'">Policies</td>
        <td *ngIf="featurerequest.productArea == '2'">Billing</td>
        <td *ngIf="featurerequest.productArea == '3'">Claims</td>
        <td *ngIf="featurerequest.productArea == '4'">Reports</td>
      </tr>
    </tbody>
  </table>
</div>